.dashboard {
    padding: 20px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .courses {
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
  }
  
  .course {
    display: flex;
    
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;

  }
  
  .course h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .course p {
    margin: 0;
  }
  
  .notifications {
    margin-bottom: 40px;
  }
  
  .notification {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .notification p {
    margin: 0;
  }
  
  