.carousel-image {
    background-image: url('../images/digital_bull_4k_8k-7680x4320.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust the height as needed */
  }
  